<!doctype html>
<html>
    <head>
        <style>
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <title>Kubernetes App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
        <h1>Zoo de particulas</h1>
        <img src="/static/particulas/Todas.jpg" style="width:80%">
    </body>
</html>
